<!DOCTYPE html>

<title>Master index</title>

{% block body %}
    <h1>Master index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for master in masters %}
            <tr>
                <td>{{ master.id }}</td>
                <td>{{ master.name }}</td>
                <td>
                    <a href="{{ path('master_show', {'id': master.id}) }}">show</a>
                    <a href="{{ path('master_edit', {'id': master.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('master_new') }}">Create new</a>
    <a href="{{ path('index') }}">Home</a>
{% endblock %}
